body,
html,
main {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: unset;
}

h1 {
  color: #ffff;
}

h3 {
  font-family: 'rajdhani', sans-serif;
  color: #83dde8;
  font-size: 28px;
}

h6 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 7px;
}

p {
  margin: 0;
  color: #fbfcff;
  font-family: 'Montserrat';
}

button {
  border: none;
  cursor: pointer;
}


.App {
  display: flex;
  flex-direction: column-reverse;
}

nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  padding: 3px 20px;
  align-items: center;
  font-size: 30px;

}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

a {
  color: unset;
}

a:hover {
  color: #0056b3;
}

.nav-text-desktop {
  display: none;
}


main {
  height: 90vh;
  overflow-y: scroll;
  align-items: center;
}

header {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-image: url(./images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 40%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 30px 60px 30px;
}

.setings-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 28px;
}

.setings-container button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}

.language-container {
  display: flex;
  gap: 10px;
}

.language-container img {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: transform(ease-in-out 3s);
}

.language-container img:hover {
  transform: scale(.9);
  animation: transform(ease-in-out 3s);
}

h1 {
  color: white;
  font-family: 'rajdhani';
}

h2 {
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
}

.banner-container-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  max-height: auto;
}

.circle-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(./images/profile-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  width: 30px;
}

.cv-button,
.cv-button:after {
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 76px;
  line-height: 78px;
  font-size: 12px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #464d55, #25292e 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  gap: 10px;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-left: 10px;
  cursor: pointer;
}

.cv-button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Bruno Zeppa';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.cv-button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.rocket {
  width: 20px;
}

.about-me {
  background-image: url(./images/banner.png);
  background-position: 40% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me h3 {
  margin-bottom: 20px;
}

.about-me-container {
  text-align: center;
  line-height: 27px;
}

.slmd {
  color: white;
  width: 200px;
  display: flex !important;
  font-size: 34px;
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
  z-index: 9;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.slmd a:hover {
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #00E6F6, 0 0 0.3em #00E6F6;
}

.skills {
  width: 100vw;
  height: 90vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/banner.png);
  background-position: 40% 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.technologies-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.technologies-wrap img {
  width: 60px;
}

.portfolio {
  width: 100vw;
  height: 90vh;
  background-image: url(./images/banner.png);
  background-position: 40% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  overflow: hidden;
}

.portfolio-main-container {
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.portfolio-options-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
  justify-content: center;
}

.portfolio-options-container button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#25292e, #222222);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.portfolio-options-container button {
  padding: 3px 12px;
  font-family: 'Montserrat';
}

.portfolio-options-container button:nth-child(1):hover {
  color: #03e9f4;
  transform: scale(.9);
}

.portfolio-options-container button:nth-child(2):hover {
  color: #ffd600;
  transform: scale(.9);
}

.portfolio-options-container button:nth-child(3):hover {
  color: #8cc84b;
  transform: scale(.9);
}

.portfolio-carousel .gallery {
  position: relative;
}

.portfolio-carousel .button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.portfolio-carousel .button-container.left {
  left: 0;
}

.portfolio-carousel .button-container.right {
  right: 0;
}

.portfolio-carousel .button-container button {
  background: #25292e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 9;
  color: #fff;
  font-size: 14px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .images-list {
  display: flex;
  flex-direction: row;
  transition: .5s ease-in-out;
  list-style: none;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.gallery .images-list li {
  width: 100%;
  padding: 0 50px;
}



.gallery .images-list li img {
  object-fit: contain;
  height: 360px;
  width: 100%;
  cursor: pointer;
}

.see-project-btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: #25292e;
  color: white;
  border: #03e9f4 .3px solid;
  padding: 3px 10px;
  position: absolute;
  margin-top: 320px;
  margin-left: -8.8%;
  font-family: 'Montserrat', sans-serif;
}

.see-project-btn:hover {
  color: cyan;
  background: #25292e77;

}


.contact {
  width: 100vw;
  height: 90vh;
  background-image: url(./images/banner.png);
  background-position: 40% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 1.5em;
  width: 300px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: white;
  font-weight: 300;
  font-size: 10px;
  color: rgb(17, 16, 16);
  font-family: 'Montserrat', sans-serif;
  padding-left: 2rem;
}

#mensaje-mail {
  height: 130px;
}

.send-btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  border: none;
  background-color: #22222220;
  font-family: 'Montserrat', sans-serif;

}

.send-btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.send-btn:nth-child(1) {
  filter: hue-rotate(270deg);
}

.send-btn:nth-child(2) {
  filter: hue-rotate(110deg);
}

.send-btn span {
  position: absolute;
  display: block;
}

.send-btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.send-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.send-btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}


.send-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.portfolio {
  width: 100vw;
  height: 90vh;
  background-image: url(./images/banner.png);
  background-position: 40% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px 30px;
}

.portfolio-main-container {
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.portfolio-options-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
  justify-content: center;
}

.portfolio-options-container button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#25292e, #222222);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.portfolio-options-container button {
  padding: 3px 12px;
  font-family: 'Montserrat';
}

.portfolio-options-container button:nth-child(1):hover {
  color: #03e9f4;
  transform: scale(.9);
}

.portfolio-options-container button:nth-child(2):hover {
  color: #ffd600;
  transform: scale(.9);
}

.portfolio-options-container button:nth-child(3):hover {
  color: #8cc84b;
  transform: scale(.9);
}

.portfolio-carousel .gallery {
  position: relative;
}

.portfolio-carousel .button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.portfolio-carousel .button-container.left {
  left: 0;
}

.portfolio-carousel .button-container.right {
  right: 0;
}

.portfolio-carousel .button-container button {
  background: #25292e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 9;
  color: #fff;
  font-size: 14px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .images-list {
  display: flex;
  transition: .5s ease-in-out;
  list-style: none;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.gallery .images-list li {
  width: 100%;
  padding: 0 50px;
}

.gallery .images-list li img {
  object-fit: contain;
  height: 360px;
  width: 100%;
}





/*--================================ TABLET ==========================--*/
@media screen and (min-width: 599px) {
  .App {
    display: flex;
    flex-direction: row;
  }

  nav {
    height: 100vh;
    width: 10vw;
    display: flex;
    align-items: flex-start;

  }

  ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .nav-text-desktop {
    display: none;
  }

  main {
    height: 100vh;
    width: 90vw;
    overflow: scroll;

  }

  header {
    width: 90vw;
    height: 50vh;
    background-size: contain;
    background-position: top;
    justify-content: unset;
  }

  .banner-container-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    max-height: auto;
  }

  .banner-container-info h1 {
    font-size: 64px;
  }

  .circle-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./images/profile-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .span1 {
    height: 10px;
    width: 300px;
    background: linear-gradient(90deg, #25292e, gray);
    border-right: #00E6F6 solid 5px;
    align-self: flex-start;
    margin-top: 50px;
  }

  .span2 {
    height: 10px;
    width: 600px;
    background: linear-gradient(90deg, #25292e, gray);
    border-right: #00E6F6 solid 5px;
    align-self: flex-start;
    margin-top: 10px;
  }

  .span3 {
    height: 10px;
    width: 300px;
    background: linear-gradient(90deg, gray, #25292e);
    border-left: #00E6F6 solid 5px;
    align-self: flex-end;
    margin-top: 10px;
  }

  .span4 {
    height: 10px;
    width: 600px;
    background: linear-gradient(90deg, gray, #25292e);
    border-left: #00E6F6 solid 5px;
    align-self: flex-end;
    margin-top: 10px;
  }


  .skills-about-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-me {
    width: 45vw;
    height: 70vh;
    background-image: none;
    background-color: #222222;
    align-items: unset;
  }

  .about-me h3 {
    margin-top: 32px;
  }

  .about-me p {
    margin-top: 35px;
  }

  .skills {
    width: 45vw;
    height: 70vh;
    background-image: none;
    background-color: #222222;
  }

  .skills-container {
    max-height: 370px;
    overflow-y: scroll;
  }

  .portfolio {
    width: 90vw;
    height: 90vh;
    background-image: none;
    background-color: #222222;
  }

  .see-project-btn {
    margin-left: -9.6%;
  }

  .contact {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }

  .contact-container {
    margin-top: 30px;
  }

  .cv-button {
    height: 50px;
    width: 400px;
    align-items: center;
    margin-left: 30%;
    justify-content: center;
  }

  .cv-button,
  .cv-button:after {
    width: 400px;
  }

  .cv-button:after {
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #25292e 5%);
  }

  .cv-button:hover {
    transform: scale(.9);
  }
}

/*--================================ DESKTOP ==========================--*/
@media screen and (min-width: 839px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .fa-solid {
    display: none;
  }

  .nav-text-desktop {
    display: inline-block;
    margin-top: 8px;
    font-size: 16px;
  }

  main {
    height: 90vh;
    width: 100vw;
  }

  header {
    width: 100vw;
    height: 70vh;
  }

  .banner-container-info {
    margin-left: unset;
  }

  .banner-container-info h1 {
    font-size: 93px;
  }

  .banner-container-info h2 {
    font-size: 22px;
  }

  .circle-photo {
    width: 260px;
    height: 260px;
  }

  .cv-button {
    margin-left: 0;
    margin-right: 0%;
    margin-top: -30px;
    width: 280px;
  }

  .cv-button,
  .cv-button:after {
    width: 280px;
  }

  .skills-about-wrap {
    flex-direction: column;
  }

  .about-me {
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
  }

  .about-me p {
    margin-bottom: 30px;
  }

  .about-me-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .skills {
    width: 100vw;
    height: 35vh;
    background-image: url(./images/decoration.png);
    background-size: cover;
    background-position: 80% 20%;
    background-repeat: no-repeat;
  }

  .skills-container {
    max-height: 370px;
    overflow-y: unset;
  }

  .portfolio {
    width: 100vw;
    height: 84vh;
  }

  .contact {
    width: 100vw;
  }

  .portfolio-options-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: center;
  }

  .portfolio-main-container {
    margin-top: 30px;
    overflow: visible;
  }

  .gallery .images-list {
    display: flex;
    flex-direction: row;
    transition: .5s ease-in-out;
    list-style: none;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: radial-gradient(circle at center, cyan, #222222)
  }

  .gallery .images-list li {
    width: 100%;
    padding: 0 50px;
  }



  .gallery .images-list li img {
    object-fit: contain;
    height: 360px;
    width: 100%;
    cursor: pointer;

  }

  .see-project-btn {
    margin-left: -11.3%;
  }


  .span5 {
    height: 10px;
    width: 300px;
    background: linear-gradient(90deg, gray, #25292e);
    border-left: #00E6F6 solid 5px;
    align-self: flex-end;
    margin-top: 10px;

  }

  .span6 {
    height: 10px;
    width: 600px;
    background: linear-gradient(90deg, gray, #25292e);
    border-left: #00E6F6 solid 5px;
    align-self: flex-end;
    margin-top: 10px;

  }

  .button-container.left {
    color: #8cc84b;

  }

  .fa-angle-left {
    display: block;
  }

  .fa-angle-right {
    display: block;
  }

  .portfolio-main-container {
    overflow: visible;
  }

}

@media screen and (min-width: 930px) {
  .cv-button {
    margin-right: 2%;
  }
}

@media screen and (min-width: 991px) {
  .cv-button {
    margin-right: 8%;
  }
}

@media screen and (min-width: 1048px) {
  .cv-button {
    margin-right: 13%;
  }
}

@media screen and (min-width: 1100px) {
  .cv-button {
    margin-right: 19%;
  }
}

@media screen and (min-width: 1180px) {
  .cv-button {
    margin-right: 24%;
  }
}

@media screen and (min-width: 1200px) {
  .cv-button {
    margin-right: 29%;
  }

}